{% extends "includes/base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}{% if recipe %}Редактирование рецепта{% else %}Создание рецепта{% endif %}{% endblock %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">
            {% if recipe %}Редактирование рецепта{% else %}Создание рецепта{% endif %}
        </h1>
    </div>

    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data" action="{% url 'new_recipe' %}">
            {% csrf_token %}

             <div class="form__group">
                <label for="{{ form.title.id_for_label }}" class="form__label">Название рецепта</label>
                <div class="form__field-group">

                    {{ form.title|addclass:"form__input" }}

                    {% if form.errors %}
                        {% for errors in title.errors %}
                            <span class="form__error">{{ error|escape}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag in form.fields.tag.choices.queryset %}
                            <div class="tags__item">
                                <input type="checkbox" name="tag" id="id_{{ tag.name }}" class="tags__checkbox tags__checkbox_style_{{ tag.color }}" value="{{ tag.id }}"
                                {% if tag.id in form.tag.value %} checked {% endif %}>
                                <label for="id_{{ tag.name }}" class="tags__label">{{ tag.title }}</label>
                            </div>
                        {% endfor %}
                        </div>

                        <span class="form__error">{{ form.tag.errors }}</span>

                    </div>
                </div>

            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="1">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">

                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                        {% if form.errors %}
                            {% for errors in field.errors %}
                                <span class="form__error">{{ error|escape}}</span>
                            {% endfor %}
                        {% endif %}
                </div>
            </div>

            <div class="form__group">
                <label for="{{ form.cooking_time.id_for_label }}" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    {{ form.cooking_time|addclass:"form__input" }}
                    <label for="{{ form.cooking_time.id_for_label }}" class="form__label">минут</label>
                        {% if form.errors %}
                            {% for errors in field.errors %}
                                <span class="form__error">{{ error|escape}}</span>
                            {% endfor %}
                        {% endif %}
                </div>
            </div>


            <div class="form__group">
                <label for="{{ form.description.id_for_label }}" class="form__label">Описание</label>
                <div class="form__field-group">
                    {{ form.description|addclass:"form__textarea" }}
                        {% if form.errors %}
                            {% for errors in field.errors %}
                                <span class="form__error">{{ error|escape}}</span>
                            {% endfor %}
                        {% endif %}
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.image.id_for_label }}" class="form__label">Загрузить фото</label>
                <div class="form__field-group">
                    {{ form.image|addclass:"form__file-button" }}
                        {% if form.errors %}
                            {% for errors in image.errors %}
                                <span class="form__error">{{ error|escape}}</span>
                            {% endfor %}
                        {% endif %}
                </div>
            </div>
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Создать рецепт</button>
            </div>
        </form>
    </div>


</main>
{% endblock %}

{% block js_block %}

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>

{% endblock %}
