{% extends "includes/base.html" %}
{% load static %}

{% block title %}Мои подписки{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        {% csrf_token %}
        <div class="card-list">
            {% if object_list %}
                {% for author in object_list %}
                    {% include 'includes/card_user.html' with author=author %}
                {% endfor %}
            </div>
                {% if is_paginated %}
                    {% include "includes/paginator.html" with items=page_obg paginator=paginator %}
                {% endif %}
            {% else %}
                <title>У вас отсутствуют подписки</title>
            {% endif %}
    </main>
{% endblock content %}

{% block js_block %}

<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>

{% endblock %}
